{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block content %}
    <div class="site__body">
        <div class="page-header">
            <div class="page-header__container container">
                <div class="page-header__breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a>
                                <svg class="breadcrumb-arrow" width="6px" height="9px">
                                    <use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-right-6x9"></use>
                                </svg>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Войти</li>
                        </ol>
                    </nav>
                </div>
                <div class="page-header__title"><h1>Войти</h1></div>
            </div>
        </div>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex">
                        <div class="card flex-grow-1 mb-md-0">
                            <div class="card-body">
{#                                <h3 class="card-title">Login</h3>#}
                                <form class="login" method="POST" action="{% url 'account_login' %}">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}"
                                               value="{{ redirect_field_value }}"/>
                                    {% endif %}

                                    <small class="form-text text-muted"><a href="{% url 'account_reset_password' %}">Забыли
                                        пароль?</a> </small>
                                    <small class="form-text text-dark">Нет аккаунта?<a href="{% url 'account_signup' %}"> Создать аккаунт</a> </small>
                                    <button type="submit" class="btn btn-primary mt-4">Войти</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{% extends "account/base.html" %}#}
{##}
{#{% load i18n %}#}
{#{% load account socialaccount %}#}
{##}
{#{% block head_title %}{% trans "Sign In" %}{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#<h1>{% trans "Sign In" %}</h1>#}
{##}
{#{% get_providers as socialaccount_providers %}#}
{##}
{#{% if socialaccount_providers %}#}
{#<p>{% blocktrans with site.name as site_name %}Please sign in with one#}
{#of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>#}
{#for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>#}
{##}
{#<div class="socialaccount_ballot">#}
{##}
{#  <ul class="socialaccount_providers">#}
{#    {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
{#  </ul>#}
{##}
{#  <div class="login-or">{% trans 'or' %}</div>#}
{##}
{#</div>#}
{##}
{#{% include "socialaccount/snippets/login_extra.html" %}#}
{##}
{#{% else %}#}
{#<p>{% blocktrans %}If you have not created an account yet, then please#}
{#<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>#}
{#{% endif %}#}
{##}
{#<form class="login" method="POST" action="{% url 'account_login' %}">#}
{#  {% csrf_token %}#}
{#  {{ form.as_p }}#}
{#  {% if redirect_field_value %}#}
{#  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />#}
{#  {% endif %}#}
{#  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
{#  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>#}
{#</form>#}
{##}
{#{% endblock %}#}
