{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    <div class="site__body">
        <br>
        <div class="block">
            <div class="container">
                <div>
                    <div class="mt-4">
                        <a name="almaty"></a>
                        <h3>О интернет магазине шин kaztyre.com</h3>
                        <p>Мы открыли наш магазин в 2020 году. Нашей целью было предоставить самый большой ассортимент
                            шин и доставлять их во все крупные города Казахстана. Мы до открытия интернет магазина шины
                            продавали через сервисы объявления olx.kz, kolesa.kz,market.kz .Мы работаем в шинном бизнесе
                            с 2019 года. За столь короткое время у нас есть партнеры во всех крупных городах
                            Казахстана. </p>
                        <p>Мы хотим добиться:
                            <br>
                            <br>
                            Предоставить нашим клиентам широкий ассортимент шин по доступной цене.
                            <br>
                            Хотим сократить время клиентов которые они тратят на поиск и покупку шин в магазинах и
                            базарах.
                            <br>
                            Подготовить квалифицированных и честных консультантов которые готовы выслушать клиента.
                            <br>
                            Организовать доставку по всему Казахстану, чтобы у всех казахстанцев был одинаковый выбор.
                            <br>
                            Доставка осуществляется транспортной компанией Jet logistic в кратчайшие сроки во все
                            крупные города Казахстана.

                        </p>
                        <p><b>Ориентируемся на весь Казахстан</b>
                            <br>
                            Многие магазины делают ставку на Алмату или Астану, или открывают небольшие магазинчики в
                            других городах Казахстана.
                            <br>
                            Складывается такая ситуация, что во многих городах люди не могут
                            подобрать шины по своему размеру, или не могут найти одно проколовшееся колесо к ранее
                            купленному комплекту, потому что выбор ограничен. У нас есть бесплатная доставка внутри
                            городов Алматы,Шымкент,Тараз,Нур-Султан при покупке на сумму свыше 65000 тг.
                        </p>
                        <p>
                            Юридические данные компаний:
                            <br>
                            ИП" Ерденбеков А.Н."
                            <br>
                            Юридический адрес:
                            <br>
                            Жамбылская область,Байзакский район,с.Косак,ул М.Маметова 20
                            <br>
                            БИН: 940630301920
                            <br>
                            Текущий счет № KZ456010161000231401
                            <br>
                            Банк АО "Народный Банк Казахстана"
                            <br>
                            БИК HSBKKZKX
                            <br>
                            Телефон:+77076220586
                            <br>

                        </p>

                    </div>


                </div>
            </div>
        </div>


    </div>
{% endblock %}

