{% extends "shop/base.html" %}
{% load static %}
{% load cart_tag %}
{% block content %}
    <div class="site__body">
        <div class="page-header">
            <div class="page-header__container container">
                <div class="page-header__breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a>
                                <svg class="breadcrumb-arrow" width="6px" height="9px">
                                    <use xlink:href="{% static 'images/sprite.svg' %}#arrow-rounded-right-6x9"></use>
                                </svg>
                            </li>

                            <li class="breadcrumb-item active" aria-current="page">Корзина</li>
                        </ol>
                    </nav>
                </div>
                <div class="page-header__title"><h1>Корзина</h1></div>
            </div>
        </div>
        <div class="cart block">
            <div class="container">
                {% if request.session.cart.items %}
                    <table class="cart__table cart-table">
                        <thead class="cart-table__head">
                        <tr class="cart-table__row">
                            <th class="cart-table__column cart-table__column--image">Изображение</th>
                            <th class="cart-table__column cart-table__column--product">Товар</th>
                            <th class="cart-table__column cart-table__column--price">Цена</th>
                            <th class="cart-table__column cart-table__column--quantity">Количество</th>
                            <th class="cart-table__column cart-table__column--total">Итого</th>
                            <th class="cart-table__column cart-table__column--remove"></th>
                        </tr>
                        </thead>
                        <tbody class="cart-table__body">
                        {% for key,value in request.session.cart.items %}
                            <tr class="cart-table__row">
                                <td class="cart-table__column cart-table__column--image">
                                    <a href="#"><img src="{{ value.image }}" alt=""></a>
                                </td>
                                <td class="cart-table__column cart-table__column--product">
                                    <a href="#" class="cart-table__product-name">{{ value.name }}</a>
                                </td>
                                <td class="cart-table__column cart-table__column--price"
                                    data-title="Price">{{ value.price }}₸
                                </td>
                                <td class="cart-table__column cart-table__column--quantity" data-title="Quantity">
                                    <div class="input-number">
                                        <input class="form-control input-number__input" type="number"
                                               value="{{ value.quantity }}">
                                        <a href="{% url 'item_increment' value.product_id %}">
                                            <div class="input-number__add"></div>
                                        </a>
                                        <a href="{% url 'item_decrement' value.product_id %}">
                                            <div class="input-number__sub"></div>
                                        </a>
                                    </div>
                                </td>
                                <td class="cart-table__column cart-table__column--total"
                                    data-title="Total">{{ value.price|multiply:value.quantity }}₸
                                </td>
                                <td class="cart-table__column cart-table__column--remove">

                                    <a href="{% url 'item_clear' value.product_id %}"
                                       class="btn btn-light btn-sm btn-svg-icon">
                                        <svg width="12px" height="12px">
                                            <use xlink:href="{% static 'images/sprite.svg' %}#cross-12"></use>
                                        </svg>
                                    </a>

                                </td>
                            </tr>

                        {% endfor %}




                        </tbody>
                    </table>
                    <div class="cart__actions">
                        <form class="cart__coupon-form">
                        </form>
                        <div class="cart__buttons">
                            <a href="{% url 'cart_clear' %}" class="btn btn-primary cart__update-button">Очистить
                                корзину</a>
                        </div>
                    </div>

                    <div class="row justify-content-end pt-5">
                        <div class="col-12 col-md-7 col-lg-6 col-xl-5">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">Итого</h3>
                                    <table class="cart__totals">

                                        <tfoot class="cart__totals-footer">
                                        <tr>
                                            <th>Итого</th>
                                            <td>{{ total }}₸ </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                    <a class="btn btn-primary btn-xl btn-block cart__checkout-button" href="">Оформить
                                        заказ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="text-secondary text-center" style="font-size: 40px">Ваша корзина пуста</div>
                {% endif %}
            </div>
        </div>
    </div><!-- site__body / end --><!-- site__footer -->

{% endblock %}