{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    <div class="site__body">
        <br>
        <div class="block">
            <div class="container">
                <div>
                    <div class="mt-4">
                        <a name="almaty"></a>
                        <h3>Бесплатная доставка шин по городу Алматы</h3>
                        <p>Доставка осуществляется транспортной компанией Jet logistic. В отдаленные районы (только до районного центра) через Казпочту .</p>
                        <p>Гипермаркет шин kaztyre.com - это интернет магазин. А значит, покупка шин у нас происходит с
                            доставкой. Как это? Очень просто! Вы оформляете заказ удобным для Вас способом и не бегаете
                            по базарам и магазинам. Вместо этого, шины сами приедут к Вам в офис, домой или на
                            шиномонтаж.</p>
                        <p>Доставка по городу Алматы осуществляется собственными курьерами компании ecar.kz. Стоимость
                            доставки зависит от зоны доставки, суммы заказа и количества заказанных шин/дисков</p>
                        <table class="table">
                            <tr>
                                <td>&nbsp;</td>
                                <td>Центральная зона</td>
                                <td>Отдаленная зона</td>
                            </tr>
                            <tr>
                                <td>Заказ на 4 шины или на сумму не менее 60000 тг</td>
                                <td>Бесплатно</td>
                                <td>1000 тг</td>
                            </tr>
                            <tr>
                                <td>Заказ менее 4 шин и на сумму менее 60000 тг</td>
                                <td>1000 тг</td>
                                <td>2000 тг</td>
                            </tr>
                            <tr>
                                <td colspan="3">Центральная зона: в пределах квадрата улиц аль-Фараби, Саина, Рыскулова,
                                    Достык (Ленина) <br/>Отдаленная зона: в переделах административной границы города
                                    Алматы, но за пределами Центральной зоны
                                </td>
                            </tr>
                        </table>

                    </div>


                </div>
            </div>
        </div>


    </div>
{% endblock %}

