{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<form action="{% url 'add_wishlist' %}">
                                                <input type="text" name="product_id" value="{{ object.id }}" style="display:none;">
{#                                            <button type="submit" class="btn btn-secondary btn-svg-icon btn-lg"#}
{#                                                    data-toggle="tooltip" title="Избранное">#}
{#                                                <svg width="16px" height="16px">#}
{#                                                    <use xlink:href="{% static 'images/sprite.svg' %}#wishlist-16"></use>#}
{#                                                </svg>#}
{#                                            </button>#}
                                                <input type="submit" class="btn btn-secondary btn-svg-icon btn-lg0" name='submit' value="Избранное">
                                            </form>
{% endblock %}