{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    <div class="site__body">
        <br>
        <div class="block">
            <div class="container">
                <div>
                    <div class="mt-4">

                        <h3>Гарантия и возврат</h3>
                        <p>Обмен и возврат товара надлежащего качества в течение 14 календарных дней с момента покупки,
                            если он не был в употреблении, сохранены его товарный вид, потребительские свойства,
                            упаковка, пломбы, ярлыки (статья 30 п.1 Закона РК «О защите прав потребителей»). </p>


                    </div>


                </div>
            </div>
        </div>


    </div>
{% endblock %}

